.my-time-control {
    -base-color: #AE4444;
    -fx-background-color: white;
    -fx-font-family: 'DS-Digital';
}

.my-time-control .editable-time {
    -fx-font-size: 60px;
    -fx-background-color: transparent;
    -fx-min-width: 70px;
    -fx-max-width: 200px;
    -fx-font-family: 'DS-Digital';
}
.my-time-control .caption-label {
    -fx-font-size: 35px;
    -fx-font-family: 'Lato';
}

.my-time-control .digit-background {
    -fx-fill: #515151;
    -fx-stroke-type: outside;
    -fx-stroke-width: 25px;
    -fx-stroke: -base-color;
    -fx-arc-height: 10.0d;
    -fx-arc-width: 10.0d;
}

.my-time-control .clock-holder {
    -fx-fill: -base-color;

}